/*Navbar Section Starts*/
.navbar_main {
    width: 100%;
    .navbar_inner {
        width: 100%;
        .for_navbar_bg_main {
            width: 100%;
            .for_navbar_bg_inner {
                width: 100%;
                .first_loop {
                    width: 100%;
                    .item_main_one {
                        width: 100%;
                        .item_inner_one {
                            width: 100%;
                            height: 500px;
                            background-image: url('../dist/img/heroTwo.webp');
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            .navbar_menu_content_wrap {
                                width: 100%;
                                .navbar_menu_main {
                                    width: 100%;
                                    padding-right: 3%;
                                    padding-top: 3%;
                                    .navbar_menu_inner {
                                        width: 100%;
                                        div {
                                            width: 100px;
                                            height: 50px;
                                            &:hover {
                                                border: 2px solid rgb(0, 0, 0);
                                            }
                                            &.active {
                                                border: 2px solid rgb(3, 3, 3);
                                            }
                                            a {
                                                font-family: "Merriweather", serif;
                                                font-weight: 300;
                                                font-size: 16px;
                                                text-shadow: 2px 2px 5px rgba(228, 215, 215, 0.5);
                                            }
                                        }
                                    }
                                }
                                .navbar_content_main {
                                    width: 100%;
                                    margin-top: 8%;
                                    .navbar_content_inner {
                                        width: 50%;
                                        .for_content {
                                            p {
                                                font-family: "Merriweather", serif;
                                                font-weight: 300;
                                                font-size: 24px;
                                            }
                                        }
                                        .for_divider {
                                            width: 30%;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .item_main_two {
                        width: 100%;
                        .item_inner_two {
                            width: 100%;
                            height: 500px;
                            background-image: url('../dist/img/heroOne.webp');
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: cover;
                            .navbar_menu_content_wrap {
                                width: 100%;
                                .navbar_menu_main {
                                    width: 100%;
                                    padding-right: 3%;
                                    padding-top: 3%;
                                    .navbar_menu_inner {
                                        width: 100%;
                                        div {
                                            width: 100px;
                                            height: 50px;
                                            &:hover {
                                                border: 2px solid rgb(0, 0, 0);
                                            }
                                            &.active {
                                                border: 2px solid rgb(2, 2, 2);
                                            }
                                            a {
                                                font-family: "Merriweather", serif;
                                                font-weight: 300;
                                                font-size: 16px;
                                                text-shadow: 2px 2px 5px rgba(253, 253, 253, 0.5);
                                            }
                                        }
                                    }
                                }
                                .navbar_content_main {
                                    width: 100%;
                                    margin-top: 8%;
                                    .navbar_content_inner {
                                        width: 50%;
                                        .for_content {
                                            p {
                                                font-family: "Merriweather", serif;
                                                font-weight: 300;
                                                font-size: 24px;
                                            }
                                        }
                                        .for_divider {
                                            width: 30%;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*Navbar Section Ends*/
//!/*Navbar Section For Responsive Starts*/
@media only screen and (max-width:1300px) {
    .navbar_menu_inner {
        div {
            a {
                font-weight: 400 !important;
            }
        }
    }
}
@media only screen and (max-width:1250px) {
    .navbar_menu_inner {
        gap: 10px !important;
        div {
            a {
                font-weight: 400 !important;
            }
        }
    }
}
@media only screen and (max-width:1160px) {
    .navbar_menu_inner {
        gap: 8px !important;
        div {
            width: 80px !important;
            a {
                font-size: 14px !important;
            }
        }
    }
}
@media only screen and (max-width:1130px) {
    .navbar_menu_content_wrap {
        left: 50% !important;
    }
}
@media only screen and (max-width:1023px) {
    .second_loop {
        width: 100%;
        .item_main_one {
            width: 100%;
            .item_inner_one {
                width: 100%;
                height: 500px;
                background-image: url('../dist/img/heroTwo.webp');
                background-repeat: no-repeat;
                background-position: start;
                background-size: cover;
            }
        }
        .item_main_two {
            width: 100%;
            .item_inner_two {
                width: 100%;
                height: 500px;
                background-image: url('../dist/img/heroOne.webp');
                background-repeat: no-repeat;
                background-position: start;
                background-size: cover;
            }
        }
    }
    .second_loop {
        position: relative !important;
    }
    .navbar_res {
        position: absolute !important;
        top: 2%;
        left: 89%;
        z-index: 659;
    }
    .navbar_content_main {
        width: 60%;
        position: absolute !important;
        top: 30%;
        left: 20%;
        z-index: 459;
        background-color: rgba(133, 125, 116, 0.2);
        .navbar_content_inner {
            width: 100%;
            .for_content {
                width: 100%;
                p {
                    font-family: "Merriweather", serif;
                    font-weight: 300;
                    font-size: 30px;
                    color: black;
                    text-shadow: 2px 2px 5px rgba(228, 215, 215, 0.5);
                }
            }
            .for_divider {
                width: 100%;
                margin-top: 10px;
    
                img {
                    width: 40%;
                }
            }
        }
    }
    .menu_cus {
        li {
            display: flex;
            flex-direction: row;
            a {
                font-family: "Merriweather", serif;
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}
@media only screen and (max-width:760px) {
    .navbar_res {
        left: 86% !important;
    }
}
@media only screen and (max-width:731px) {
    .navbar_content_inner {
        .for_content {
            p {
                font-size: 24px !important;
            }
        }
    }
}
@media only screen and (max-width:585px) {
    .navbar_content_inner {
        .for_content {
            p {
                font-size: 20px !important;
            }
        }
        .for_divider {
            img {
                width: 80% !important;
            }
        }
    }
}
@media only screen and (max-width:560px) {
    .navbar_res {
        left: 80% !important;
    }
}
@media only screen and (max-width:486px) {
    .navbar_content_inner {
        .for_content {
            p {
                font-size: 14px !important;
                font-weight: 400 !important;
            }
        }
        .for_divider {
            img {
                width: 80% !important;
            }
        }
    }
}
@media only screen and (max-width:430px) {
    .menu_cus {
        width: 42% !important;
    }
}
//!/*Navbar Section For Responsive Ends*/