/*Navbar Section Starts*/
.navbar_main {
    width: 100%;
    .navbar_inner {
        width: 100%;
        .for_navbar_bg_main {
            width: 100%;
            .for_navbar_bg_inner {
                width: 100%;
                .first_loop {
                    width: 100%;
                    .item_main_one {
                        width: 100%;
                        .item_inner_one {
                            width: 100%;
                            height: 500px;
                            background-image: url('../dist/img/heroTwo.webp');
                            background-repeat: no-repeat;
                            background-position: start;
                            background-size: cover;
                        }
                    }
                    .item_main_two {
                        width: 100%;
                        .item_inner_two {
                            width: 100%;
                            height: 500px;
                            background-image: url('../dist/img/heroOne.webp');
                            background-repeat: no-repeat;
                            background-position: start;
                            background-size: cover;
                        }
                    }
                }
                .navbar_menu_content_wrap {
                    .navbar_menu_main {
                        width: 100%;
                        .navbar_menu_inner {
                            width: 100%;
                            a {
                                font-family: "Merriweather", serif;
                                font-weight: 400;
                                font-size: 14px;
                                &:hover {
                                    border: 1px solid rgb(87, 86, 86);
                                    padding: 5px;
                                }
                            }
                            a.active:focus {
                                border: 1px solid rgb(87, 86, 86);
                                padding: 5px;
                            }
                        }
                    }
                    .navbar_content_main {
                        width: 100%;
                        margin-top: 100px;
                        .navbar_content_inner {
                            width: 100%;
                            .for_content {
                                width: 100%;
                                p {
                                    font-family: "Merriweather", serif;
                                    font-weight: 300;
                                    font-size: 24px;
                                }
                            }
                            .for_divider {
                                width: 100%;
                                margin-top: 10px;
                                img {
                                    width: 40%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//!For Positioning Starts
.first_loop {
    position: relative;
}
.navbar_menu_content_wrap {
    position: absolute;
    top: 7%;
    left: 58%;
    z-index: 456;
}
//!For Positioning Ends
/*Navbar Section Ends*/
//!/*Navbar Section For Responsive Starts*/
@media only screen and (max-width:1130px) {
    .navbar_menu_content_wrap {
        left: 50% !important;
    }
}
@media only screen and (max-width:1023px) {
    .second_loop {
        width: 100%;
        .item_main_one {
            width: 100%;
            .item_inner_one {
                width: 100%;
                height: 500px;
                background-image: url('../dist/img/heroTwo.webp');
                background-repeat: no-repeat;
                background-position: start;
                background-size: cover;
            }
        }
        .item_main_two {
            width: 100%;
            .item_inner_two {
                width: 100%;
                height: 500px;
                background-image: url('../dist/img/heroOne.webp');
                background-repeat: no-repeat;
                background-position: start;
                background-size: cover;
            }
        }
    }
    .second_loop {
        position: relative !important;
    }
    .navbar_res {
        position: absolute !important;
        top: 2%;
        left: 89%;
        z-index: 659;
    }
    .navbar_content_main {
        width: 60%;
        position: absolute !important;
        top: 30%;
        left: 20%;
        z-index: 459;
        background-color: rgba(133, 125, 116, 0.2);
        .navbar_content_inner {
            width: 100%;
            .for_content {
                width: 100%;
                p {
                    font-family: "Merriweather", serif;
                    font-weight: 300;
                    font-size: 30px;
                    color: black;
                    text-shadow: 2px 2px 5px rgba(228, 215, 215, 0.5);
                }
            }
            .for_divider {
                width: 100%;
                margin-top: 10px;
    
                img {
                    width: 40%;
                }
            }
        }
    }
    .menu_cus {
        li {
            display: flex;
            flex-direction: row;
            a {
                font-family: "Merriweather", serif;
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}
@media only screen and (max-width:760px) {
    .navbar_res {
        left: 86% !important;
    }
}
@media only screen and (max-width:731px) {
    .navbar_content_inner {
        .for_content {
            p {
                font-size: 24px !important;
            }
        }
    }
}
@media only screen and (max-width:585px) {
    .navbar_content_inner {
        .for_content {
            p {
                font-size: 20px !important;
            }
        }
        .for_divider {
            img {
                width: 80% !important;
            }
        }
    }
}
@media only screen and (max-width:560px) {
    .navbar_res {
        left: 80% !important;
    }
}
@media only screen and (max-width:486px) {
    .navbar_content_inner {
        .for_content {
            p {
                font-size: 14px !important;
                font-weight: 400 !important;
            }
        }
        .for_divider {
            img {
                width: 80% !important;
            }
        }
    }
}
@media only screen and (max-width:430px) {
    .menu_cus {
        width: 42% !important;
    }
}
//!/*Navbar Section For Responsive Ends*/